<div align="center">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <%= image_tag(@profile.profile_image_url, size: "140x110", class: "img-rounded") unless @profile.profile_image_url.nil? %>
  </div><br>

  <table class="table table-striped">    
    <tbody align="center">
      <tr>
        <td><strong>First name:</strong> <%= @profile.first_name %></td>        
      </tr>
       <tr>
        <td><strong>Last name:</strong> <%= @profile.last_name %></td>        
      </tr>
       <tr>
        <td><strong>About me:</strong> <%= @profile.about_me %></td>        
      </tr>
       <tr>
        <td><strong>Date of birth:</strong> <%= @profile.date_of_birth %></td>        
      </tr>
    </tbody>
  </table>
</div>
<%= link_to 'Edit', edit_profile_path(@profile) unless params[:tag]%>
